/* Grundlegende Stile */
html, body, #root {
    height: 100%;
    width: 100%;
  }
  
  body {
    background: linear-gradient(180deg, #5401d1 5%, #0860e4 50%, #070a54), 
                linear-gradient(205deg, #012622, #10391c, #140013);
    background-size: 600% 600%;
    animation: AnimationBackground 54s ease infinite;
    color: #f5f5f5; /* Helle Schriftfarbe für den dunklen Hintergrund */
    transition: background 0.3s, color 0.3s;
  }
  
  @keyframes AnimationBackground {
    0% { background-position: 50% 0%; }
    50% { background-position: 51% 100%; }
    100% { background-position: 50% 0%; }
  }
  
  /* App Container */
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* Apply padding only on small screens */
  @media (min-width: 640px) {
    .content-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  /* Hintergrund */
  .new-dark-mode {
    background: linear-gradient(180deg, #5401d1 5%, #0860e4 50%, #070a54), 
                linear-gradient(205deg, #012622, #10391c, #140013);
    background-size: 600% 600%;
    -webkit-animation: AnimationBackground 54s ease infinite;
    -moz-animation: AnimationBackground 54s ease infinite;
    -o-animation: AnimationBackground 54s ease infinite;
    animation: AnimationBackground 54s ease infinite;
    color: #ffffff;
    transition: background 0.3s, color 0.3s;
  }
  
  .new-light-mode {
    background: #f0eff4;
    color: #3a3e3b;
    transition: background 0.3s, color 0.3s;
  }